{% extends 'base/base.html' %}


{% block navigation %}
    <li>
        <span><a href="{% url 'infobox:category' %}">Kategorien</a></span>
    </li>
    {% if category %}
        <li>
            <span><a href="{% url 'infobox:new_category' pk=category.id %}">{{ category.title }}</a></span>
        </li>
    {% endif %}
    {% if parent_id and category_id %}
        <li>
            <span><a href="{% url 'infobox:edit' pk=parent_id category_id=category_id %}">{{ parent.title }}</a></span>
        </li>
    {% endif %}
    <li>
        <span><a>Infobox bearbeiten</a></span>
    </li>
{% endblock %}

{% block content %}
    {% include 'infobox/snippets/infobox_form.html' with title="Infobox bearbeiten" button_text="Änderungen speichern" %}
    {% include 'infobox/snippets/infobox_languages.html' %}
    {% include 'infobox/snippets/infobox_supplications.html' %}
    {% include 'infobox/snippets/infobox_delete_panel.html' %}
{% endblock %}
