<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{ title }}</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown" style="visibility:hidden;">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
              </ul>
            </li>
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <br>
                <form class="form-horizontal form-label-left" method="POST">{% csrf_token %}
                  <div class="col-md-8 col-md-offset-2">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.non_field_errors }}
                      </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.title.id_for_label }}">Titel <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}" value="{{ form.title.value|default:"" }}" type="text" required="required" class="form-control col-md-7 col-xs-12"/>
                      <div style="color:red;">
                          {% for error in form.title.errors %}
                              <p>{{ error }}</p>
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.language.id_for_label }}">Sprache <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.language }}
                        <div style="color:red;">
                            {% for error in form.language.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.description.id_for_label }}">Beschreibung
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.description }}
                        <div style="color:red;">
                            {% for error in form.description.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                      </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-primary">{{ button_text }}</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>